# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [2]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd

badf = pd.read_csv(r'C:\Users\Jacob\Desktop\LaunchCode\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\baltimore_9-24-2016_9-30-2017.csv')
bodf = pd.read_csv(r'C:\Users\Jacob\Desktop\LaunchCode\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\boston_9-24-2016_9-30-2017.csv')
nydf = pd.read_csv(r'C:\Users\Jacob\Desktop\LaunchCode\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\new-york_9-24-2016_9-30-2017.csv')
phdf = pd.read_csv(r'C:\Users\Jacob\Desktop\LaunchCode\data-analysis-projects\data-manipulation\studio\data-manipulation-studio\dataset\philadelphia_9-24-2016_9-30-2017.csv')

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

In [33]:
badf.columns

Index(['Commodity Name', 'City Name', 'Package', 'Variety', 'Sub Variety',
       'Date', 'Low Price', 'High Price', 'Mostly Low', 'Mostly High',
       'Origin', 'Item Size', 'Color', 'Unit of Sale', 'Repack'],
      dtype='object')

In [7]:
# Clean your data here!
badf = badf.dropna(axis = 'columns', how='all')
badf.drop(columns = ['Repack', 'Color', 'Item Size','Sub Variety','Unit of Sale'])
bodf = badf.dropna(axis = 'columns', how='all')
bodf.drop(columns = ['Repack', 'Color', 'Item Size','Sub Variety','Unit of Sale'])
nydf = badf.dropna(axis = 'columns', how='all')
nydf.drop(columns = ['Repack', 'Color', 'Item Size','Sub Variety','Unit of Sale'])
phdf = badf.dropna(axis = 'columns', how='all')
phdf.drop(columns = ['Repack', 'Color', 'Item Size','Sub Variety','Unit of Sale'])

,Commodity Name,City Name,Package,Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin
0,PUMPKINS,BALTIMORE,24 inch bins,NaN,04/29/2017,270,280.0,270,280.0,NaN
1,PUMPKINS,BALTIMORE,24 inch bins,NaN,05/06/2017,270,280.0,270,280.0,NaN
2,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,09/24/2016,160,160.0,160,160.0,DELAWARE
3,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,09/24/2016,160,160.0,160,160.0,VIRGINIA
4,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,11/05/2016,90,100.0,90,100.0,MARYLAND
...,...,...,...,...,...,...,...,...,...,...
148,PUMPKINS,BALTIMORE,1/2 bushel cartons,MINIATURE,09/30/2017,18,18.0,18,18.0,MARYLAND
149,PUMPKINS,BALTIMORE,1/2 bushel cartons,MINIATURE,09/30/2017,18,18.0,18,18.0,PENNSYLVANIA
150,PUMPKINS,BALTIMORE,1/2 bushel cartons,MINIATURE,09/24/2016,15,15.0,15,15.0,MARYLAND
151,PUMPKINS,BALTIMORE,1/2 bushel cartons,MINIATURE,10/01/2016,15,15.0,15,15.0,MARYLAND
152,PUMPKINS,BALTIMORE,1/2 bushel cartons,MINIATURE,10/08/2016,15,15.0,15,15.0,MARYLAND

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [14]:
# Combine the four dataframes into one!
combined_df = pd.concat([badf,bodf,nydf,phdf])
combined_df

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,04/29/2017,270,280.0,270,280.0,NaN,lge,NaN,NaN,E
1,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,05/06/2017,270,280.0,270,280.0,NaN,lge,NaN,NaN,E
2,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,DELAWARE,med,NaN,NaN,N
3,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,VIRGINIA,med,NaN,NaN,N
4,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,100.0,MARYLAND,lge,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,PUMPKINS,BALTIMORE,1/2 bushel cartons,MINIATURE,NaN,09/30/2017,18,18.0,18,18.0,MARYLAND,NaN,ORANGE,NaN,N
149,PUMPKINS,BALTIMORE,1/2 bushel cartons,MINIATURE,NaN,09/30/2017,18,18.0,18,18.0,PENNSYLVANIA,NaN,ORANGE,NaN,N
150,PUMPKINS,BALTIMORE,1/2 bushel cartons,MINIATURE,ROUND TYPE,09/24/2016,15,15.0,15,15.0,MARYLAND,sml,NaN,NaN,N
151,PUMPKINS,BALTIMORE,1/2 bushel cartons,MINIATURE,ROUND TYPE,10/01/2016,15,15.0,15,15.0,MARYLAND,sml,NaN,NaN,N
152,PUMPKINS,BALTIMORE,1/2 bushel cartons,MINIATURE,ROUND TYPE,10/08/2016,15,15.0,15,15.0,MARYLAND,sml,NaN,NaN,N

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region? 
2. For each region, what is the average number of pumpkins per variety that came into terminal markets for the year?

In [24]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
northeast_mean = combined_df.groupby(['Unit of Sale','Variety'])

<bound method DataFrame.to_string of                                                                Commodity Name  \
Unit of Sale Variety
EACH         BIG MACK TYPE  PUMPKINSPUMPKINSPUMPKINSPUMPKINSPUMPKINSPUMPKI...

                                                                    City Name  \
Unit of Sale Variety
EACH         BIG MACK TYPE  BALTIMOREBALTIMOREBALTIMOREBALTIMOREBALTIMOREB...

                                                                      Package  \
Unit of Sale Variety
EACH         BIG MACK TYPE  24 inch bins24 inch bins24 inch bins24 inch bi...

                           Sub Variety  \
Unit of Sale Variety
EACH         BIG MACK TYPE           0

                                                                         Date  \
Unit of Sale Variety
EACH         BIG MACK TYPE  09/24/201609/24/201609/24/201610/01/201610/01/...

                            Low Price  High Price  Mostly Low  Mostly High  \
Unit of Sale Variety
EACH         BIG MACK TYPE       4600      5680.0        4600       5680.0

                                                                       Origin  \
Unit of Sale Variety
EACH         BIG MACK TYPE  MARYLANDMARYLANDVIRGINIAMARYLANDMARYLANDVIRGIN...

                                                                    Item Size  \
Unit of Sale Variety
EACH         BIG MACK TYPE  jbolgemedjbojbolgemedjbojbolgejbojbojbojbojboj...

                                                                        Color  \
Unit of Sale Variety
EACH         BIG MACK TYPE  WHITEWHITEWHITEWHITEWHITEWHITEWHITEWHITEWHITEW...

                                                                       Repack
Unit of Sale Variety
EACH         BIG MACK TYPE  NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN...  >

In [58]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [59]:
# Try the bonus mission if you have time!